.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 15px;
  width: auto;
}

.navbar,
footer {
    background-color: #0066CC;
    box-shadow: 5px 10px 18px #888888;
    border: 0px;
    color: white;
}

.bodytext {
    border: 2px solid #399fd3;
    border-radius: 5px;
    background: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 1%
}

/*.polis {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}*/

.jumbotron,
h1 {
    font-family: 'Open+Sans', sans-serif;
}

.jumbotron {
    padding-top: 30%;
    background: url('images/hero-image.jpg') no-repeat center center;
    background-size: 100%;
    text-align: right;
}

p, li, ul { 
  font-family: 'Nunito', sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 100; 
  line-height: 20px; 
} 

#title {
    padding-right: 30%;
    font-size: 4em;
    margin-bottom: 20%;
}

#signup, #FAQ {
    margin-bottom: 5%;
}

footer {
    padding-top: 5%;
    padding-bottom: 5%;
}
